* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; padding: 0;
    color: rgb(31, 31, 31);
}

.container {
    max-width: 1440px;
    margin: 0;
}

.header {
background-color:darkslategrey;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    position: relative;
    padding: 0 15px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: rgb(218 218 218);
    transition: .3s;

}

.nav-link:hover {
    color: rgb(55, 150, 30);
}

.main {
    background-color: rgb(218 218 218);
}

.section-link {
    text-decoration: none;
    color: rgb(55, 150, 30);
    transition: .3s;
}

.section-link:hover {
    color: rgb(25, 75, 10);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    padding-left: 30px;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 30px;

}

.section-profile-picture {
    width: 250px;
    height: 250px;
}

.section-profile-title {
    margin: 0;
    text-align: center;
    position: relative;
    top: 17.5%;
}

.section-title-line {
    width: 50%;
    background-color: darkslategray;
    height: 3px;
    border: none;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    color: #4F2F2F;
}

.main-title {
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 7.5px;
    margin: 20px 0px;
    line-height: normal;
    color: darkslategray;
}

.main-subtitle {

    font-size: 25px;
    font-weight: lighter;
    margin: 20px 0px 40px 0px;
    line-height: normal;
    color: darkslategray;
}

.section-list {
    list-style: none;
    padding: 0;
}

.section-item-list {
    margin: 0;
    padding: 0px 15px;
}

.code {
    font-size: 19px;
}

.footer {
    width: 100%;
    background-color: #4F2F2F;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-date {
    text-align: left;
    line-height: 50px;
    font-weight: bold;
    color: rgb(218 218 218);
    margin: 0px 20px;
}

.footer-link {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: rgb(218 218 218);
    transition: .3s;
}

.footer-item-link {
    text-decoration: none;
    color: rgb(218 218 218);
    transition: .3s;
}

.footer-item-link:hover {
    color: darkgoldenrod;
}

.footer-logo {
    width: 95px;
    height: 50px;
    float: right;
    margin: 20px 20px 5px 20px;
}

@media (max-width: 768px) {
    .section {
    width: 100%;
    }

    .section-profile {
    flex-direction: column;
    align-items: center;
    }
}